.table{
  width: 40%;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 6px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;;
}
td,th{
  text-align: center;
  padding: 10px;
}
.table-title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

